/* .button {
  padding-top: 0;
  padding-bottom: 0;
  padding-left: 8px;
  padding-right: 8px;
  font-size: 12px;
  background: #c2c6ca;
  border: none;
  border-radius: 0;
  outline: none;
  min-height: 32px;
  user-select: none;
}

.button:focus {
  box-shadow: 0.5px 0.5px 0 0.5px black, inset 1px 1px black,  inset -1px -1px black, inset 2px 2px white, inset -2px -2px #85898d;
  outline: none;
}
.button:active {
  box-shadow: 0.5px 0.5px 0 0.5px black, inset 1px 1px black, inset -1px -1px #85898d, inset 2px 2px #85898d;
  outline: none;
} */
