.card {
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  width: 98.7%;
  padding: 15px;
  height: 250px;
  background: rgb(255, 255, 255);
  border-radius: 0.4em;
  box-shadow: 0.3em 0.3em 0.7em #00000015;
  transition: border 0.5s cubic-bezier(0.175, 0.885, 0.32, 1.275);
  border: rgb(250, 250, 250) 0.2em solid;
  margin: 5px;
  font-size: 20px;
}

.card:hover {
  border: #006fff 0.2em solid;
}

.card-btn {
  align-self: flex-end;
  display: flex;
}

.card__text {
  flex: 0 1 70%;
  display: flex;
  flex-direction: column;
  justify-content: space-around;
}



/*  BUTTON  */
.button {
  cursor: pointer;
  --bg: #3aa1d1;
  --text-color: #fff;
  position: relative;
  width: 80%;
  border: none;
  background: var(--bg);
  color: var(--text-color);
  padding: 1em;
  font-weight: bold;
  text-transform: uppercase;
  transition: 0.2s;
  border-radius: 5px;
  opacity: 0.8;
  letter-spacing: 1px;
  box-shadow: #3aa1d1 0px 7px 2px, #000 0px 8px 5px;
}

.button:hover {
  opacity: 1;
}

.button:active {
  top: 4px;
  box-shadow: #42c7b1 0px 3px 2px, #000 0px 3px 5px;
}

.button-decline {
  margin-left: 15px;
}

.button-decline:hover {
  background-color: red;
}

.button-accept:hover {
  background-color: rgb(74, 204, 102);
}

.btn-profile {
  width: 30%;
  margin-top: 50px;
}

.btn-chat {
  width: 100%;
  margin-top: 30px;
}

.greeting-p {
  font-size: 18px;
  font-family: 'Kurale', serif;
}

.femida {
  width: 300px;
  height: 600px;
}

.btn-news {
  margin-bottom: 15px;
}

.btn-confirm {
  width: 30%;
  margin-left: 200px;
  margin-top: 25px;

}

.btn-changeProfile {
  width: 30%;
  margin-top: 40px;
}
