.form {
  padding: 16px;
  display: grid;
  grid-gap: 16px;
  flex-direction: column;
  max-width: 400px;
  width: 100%;
}

.form--full-width {
  max-width: none;
}

.label {
  padding-right: 16px;
  font-size: 14px;
  color: grey;
}

.input {
  margin: 0;
  padding-top: 4px;
  padding-bottom: 4px;
  padding-left: 8px;
  padding-right: 8px;
  font-size: 14px;
  border: 1px solid grey;
  outline: none;
  position: relative;
  text-overflow: ellipsis;
  white-space: nowrap;
  flex: 1;
  cursor: text;
  min-width: 16px;
  max-width: 250px;
  width: 100%;
  user-select: none;
}

.select {
  margin: 0;
  padding-top: 4px;
  padding-bottom: 4px;
  padding-left: 8px;
  padding-right: 8px;
  font-size: 14px;
  border: 1px solid grey;
  outline: none;
  position: relative;
  text-overflow: ellipsis;
  white-space: nowrap;
  flex: 1;
  cursor: pointer;
  min-width: 16px;
  max-width: 250px;
  width: 100%;
}