.row {
  display: flex;
  align-items: center;
}

.row--center {
  justify-content: center;
}
.row--between {
  justify-content: space-between;
}
.row--right {
  justify-content: flex-end;
}

.col {
  display: flex;
  flex-direction: column;
  justify-content: center;
}
.col--center {
  align-items: center;
}

.error {
  color: #ff0081;
}

.link {
  color: #010081;
  text-decoration: none;
}

h1 {
  padding-bottom: 16px;
}
