.navigation {
  display: flex;
  align-items: center;
  justify-content: flex-end;
}

.navigation__list {
  padding: 0;
  list-style: none;
  display: flex;
  align-items: center;
  justify-content: center;
}

.navigation__item {
  font-size: 18px;
  font-weight: bold;
  text-decoration: none;
  text-transform: uppercase;
  list-style: none;
  cursor: pointer;
}

.navigation__item .link {
  padding: 16px;
  display: flex;
}

.navigation__item:hover .link {
  color: #fdffff;
}