.profile {
  padding: 16px;
  display: grid;
  grid-gap: 16px;
  grid-template-columns: 200px 1fr;
  align-items: flex-start;
  width: 100%;
}

.profile__sidebar {
  display: grid;
  grid-gap: 8px;
}

.profile__button--active {
  box-shadow: 0.5px 0.5px 0 0.5px black, inset 1px 1px black, inset -1px -1px #85898d, inset 2px 2px #85898d;
  font-weight: bold;
}

.loader {
  --clr: #3498db;
  /* color of spining  */
  width: 50px;
  height: 50px;
  position: relative;
 }
 
 .loader:before, .loader:after {
  content: "";
  position: absolute;
  top: -10px;
  left: -10px;
  width: 100%;
  height: 100%;
  border-radius: 100%;
  border: 10px solid transparent;
  border-top-color: var(--clr);
 }
 
 .loader:before {
  z-index: 100;
  animation: spin 1s infinite;
 }
 
 .loader:after {
  border: 10px solid #ccc;
 }
 
 @keyframes spin {
  0% {
   -webkit-transform: rotate(0deg);
   -ms-transform: rotate(0deg);
   -o-transform: rotate(0deg);
   transform: rotate(0deg);
  }
 
  100% {
   -webkit-transform: rotate(360deg);
   -ms-transform: rotate(360deg);
   -o-transform: rotate(360deg);
   transform: rotate(360deg);
  }
 }