@import url('https://fonts.googleapis.com/css?family=Work+Sans:400,600');
/* 
body {
  margin: 0;
  background: #222;
  font-family: 'Work Sans', sans-serif;
  font-weight: 800;
} */

.container {
  width: 80%;
  margin: 0 auto;
}

header {
  background: #bed9dd;
  padding: 5px 0px 15px 0px;
}

header::after {
  content: '';
  display: table;
  clear: both;
}

.logo {
  float: left;
  padding: 20px 0;
}

nav {
  float: right;
}

nav ul {
  margin: 0;
  padding: 0;
  list-style: none;
}

nav li {
  display: inline-block;
  margin-left: 70px;
  padding-top: 23px;

  position: relative;
}

nav a {
  color: #444;
  text-decoration: none;
  text-transform: uppercase;
  font-size: 14px;
}

nav a:hover {
  color: #000;
}

nav a::before {
  content: '';
  display: block;
  height: 5px;
  background-color: #444;

  position: absolute;
  top: 0;
  width: 0%;

  transition: all ease-in-out 250ms;
}

nav a:hover::before {
  width: 100%;
}



.navbar {
  height: 70px;
  font-size: 20px;
  display: flex;
  background-color: rgb(91, 91, 214);
  color: #fff !important;

}

.navbar_list {
  display: flex;
}

.navbar_list li {
  margin-left: 25px;
}

.card-title {
  margin-bottom: 20px;
}

.login-link {
  display: flex;
  justify-content: space-between;
  font-size: 16px;
}

.card {
  display: flex;
  flex-direction: column;
}

.d-flex {
  margin-left: 90px;
}

.pfofile {
  display: flex;
  margin-top: 20px;
}

.profile__info {
  flex: 0 1 70%;
  padding: 25px;
  margin: 10px;
  font-size: 20px;
  border-radius: 50px;
  background: #e0e0e0;
  box-shadow: 20px 20px 60px #bebebe,
    -20px -20px 60px #ffffff;
}

.profile__btn {
  margin-top: 20px;
  width: 100%;
}

.profile__bar {
  flex: 0 1 30%;
  display: flex;
  flex-direction: column;
  padding: 20px;
  margin: 10px;
  border-radius: 50px;
  background: #e0e0e0;
  box-shadow: 20px 20px 60px #bebebe,
    -20px -20px 60px #ffffff;

}

/*  INPUT */
.placeholder-form {
  box-sizing: border-box;
  width: 320px;
  margin: 20px auto;
}

.placeholder-container {
  position: relative;
  width: 100%;
  margin-bottom: 20px;
}

.placeholder-container input {
  background-color: #FFF;
  border: 2px solid #BFE2FF;
  box-sizing: border-box;
  color: #000;
  font-size: 16px;
  line-height: 16px;
  height: 50px;
  outline: 0;
  padding: 0 20px;
  width: 100%;
}

.placeholder-container label {
  color: #000;
  font-family: Verdana, sans-serif;
  background-color: #FFF;
  font-size: 16px;
  line-height: 16px;
  padding: 5px 10px;
  pointer-events: none;
  position: absolute;
  transition: all 200ms;
  top: 12px;
  left: 10px;
  background-color: #FFF;
}

.placeholder-container input:focus+label,
.placeholder-container input:not(:placeholder-shown)+label {
  top: -10px;
  left: 10px;
  font-size: 11px;
  background-color: #BFE2FF;
  padding: 2px 10px;
}


/*      ===================   BUTTON = ============================= */
/* From uiverse.io by @lenfear23 */
/* button {
  display: flex;
  align-items: center;
  justify-content: center;
  outline: none;
  cursor: pointer;
  width: 150px;
  height: 50px;
  background-image: linear-gradient(to top, #D8D9DB 0%, #fff 80%, #FDFDFD 100%);
  border-radius: 30px;
  border: 1px solid #8F9092;
  transition: all 0.2s ease;
  font-family: "Source Sans Pro", sans-serif;
  font-size: 14px;
  font-weight: 600;
  color: #606060;
  text-shadow: 0 1px #fff;
}

button:hover {
  box-shadow: 0 4px 3px 1px #FCFCFC, 0 6px 8px #D6D7D9, 0 -4px 4px #CECFD1, 0 -6px 4px #FEFEFE, inset 0 0 3px 3px #CECFD1;
}

button:active {
  box-shadow: 0 4px 3px 1px #FCFCFC, 0 6px 8px #D6D7D9, 0 -4px 4px #CECFD1, 0 -6px 4px #FEFEFE, inset 0 0 5px 3px #999, inset 0 0 30px #aaa;
}

button:focus {
  box-shadow: 0 4px 3px 1px #FCFCFC, 0 6px 8px #D6D7D9, 0 -4px 4px #CECFD1, 0 -6px 4px #FEFEFE, inset 0 0 5px 3px #999, inset 0 0 30px #aaa;
} */
